/Midterm-Kiosk/Library/Artifacts/25
/Midterm-Kiosk/Library/Artifacts/26
/Midterm-Kiosk/Library/Artifacts
/Midterm-Kiosk/Library/Bee/artifacts
/Midterm-Kiosk/Library/BurstCache/JIT/Hashes
/Midterm-Kiosk/Library/PackageCache/com.unity.ai.navigation@5218e4bf7edc/Samples~
/Midterm-Kiosk/Library/PackageCache/com.unity.ai.navigation@5218e4bf7edc/Tests/Runtime
/Midterm-Kiosk/Library
/Midterm-Kiosk/UserSettings
/Midterm-Kiosk/Logs
